html, body {
  margin: 0;
  padding: 0;
  /* display: flex; 
  align-items: center;
  justify-content: center; */
  
}
canvas {
  display:flex;
  align-items: center;
  justify-content: center; 
  margin-top:5%;
  margin-left: 25%;
}
h1,label{
  display: flex;
  align-items: center;
  justify-content: center;
}
#sorting-algo{
display: flex;
align-items: center;
justify-content: center;
}
